.conatiner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
  .search_container {
    width: 50%;
    .search {
      width: 100%;
      position: relative;
      display: flex;

      .search_input {
        width: 100%;
        border: 3px solid #a33327;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9dbfaf;
        &:focus {
          color: #a33327;
        }
      }
      .searchButton {
        height: 36px;
        border: 1px solid #a33327;
        background: #a33327;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
      }
    }
  }
  .gist_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    .heading {
      text-align: center;
      color: #000;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
