.gist_name {
  color: #000;
  font-weight: bold;
  margin: 10px 20px;
}
.gist_list_item {
  margin: 20px 20px;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.59);
}

.see_fork_users {
  color: #a33327;
  cursor: pointer;
  margin: 20px;
}
